

.layout {
    width: 90%;
    height: 500px;
    margin-top: -75px;
    border-radius: 1rem;
    background-color: #ffffff;
}

.title {
    font-family: "Ubuntu-Bold";
    padding: 2.25rem 0 0.75rem 2rem;
    font-size: 1.5rem;
    color: #0e0056;

}

.subtitle {
    font-family: "Ubuntu-Medium";
    padding: 0.25rem 2rem;
    color: #a1a1a1;
    font-size: 1rem;
    line-height: 1.5rem;
}